# Composer
/vendor/
composer.lock

# Environment files
.env
.env.backup

# Logs & uploads
/1of1Spoofer/logs/*
!/1of1Spoofer/logs/.gitkeep
/1of1Spoofer/uploads/*
!/1of1Spoofer/uploads/.gitkeep

# Editor and system files
.idea/
.vscode/
.DS_Store
Thumbs.db

# Cache and temporary files
*.cache
*.tmp
*.bak

# PHP error logs
php_errors.log 